body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5vh;
    background-color: var(--coffee);
    width: 100vw;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    font-weight: 700;
}

.message{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    color: var(--linen);
    font-size: 24px;
    gap: 10px;
}

.turn-marker{
    display: none;
    width: 25px;
    height: 25px;
    stroke: var(--linen);
}

p{
    margin: 0;
}

.controls{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 60vw;
    color: var(--raw-umber);
    gap: 20px;
}

.control{
    width: 80%;
    background-color: var(--linen);
    justify-self: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 15px;
    border-radius: 10px;
    p{
        margin-right: auto;
    }
    box-shadow: 15px 15px 15px rgba(50, 50, 50,0.4);
}

.player{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.player-marker{
    stroke: var(--raw-umber);
    width: 40px;
    height: 40px;
}

.board{
    --board-size: min(40vh,30vw);
    width: var(--board-size);
    height: var(--board-size);
    display: grid;
    /* border: solid var(--linen) 1vw; */
    box-shadow: 20px 20px 20px rgba(50, 50, 50,0.4);
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 1vw;
    background-color: var(--tan);
    padding: 2vw;
    border-radius: 5%;
}

.cell{
    background-color: var(--dun);
    /* display: flex; */
    border-radius: 5%;
    position: relative;
}

/*Animate marker stroke*/
.marker{
    width: 60%;
    height: 60%;
    position: absolute;
    top: 20%; /*Move to the center 20 60 20*/
    left: 20%;
}
/*Animate stroke, first changing the dash pattern*/
.cross .solid{
    stroke: var(--raw-umber);
    stroke-dasharray: 85; /*Approximate length of each line*/
    stroke-dashoffset: 85;
    transition: stroke-dashoffset 0.3s ease-out;
}
/*Hide the marker that changes on hover*/
.transparent{
    stroke: none;
}

.circle .solid{
    stroke: var(--linen);
    stroke-dasharray: 252; /*Approximate length of each line*/
    stroke-dashoffset: 252;
    transition: stroke-dashoffset 0.6s ease-out;
}
/*Show marker on hover*/
.marker.cross.over .transparent{
    stroke: var(--chamoisee);
}

.marker.circle.over .transparent{
    stroke: var(--almond);
}
/*Hide dummy marker when the cell is clicked*/
.marker.clicked .transparent{
    stroke: none;
}
/*Animate stroke on click*/
.marker.cross.clicked .solid{
    stroke-dashoffset: 0;
    stroke: var(--raw-umber);
}

.marker.circle.clicked .solid{
    stroke-dashoffset: 0;
    stroke: var(--linen);
}
/*Add a small delay to show the stroke of the second diagonal after the first one is completely rendered*/
.solid.line2{ 
    transition-delay: 0.3s; 
}

/*Show result message with a dissolving effect*/

.result-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(50, 50, 50,0.4);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -100;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.result-container.show{
    z-index: 100;
    opacity: 1;
}

.result{
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /*Simulate a dissolving effect*/
    border-radius: 15px;
    background-color: var(--dun);
    color: var(--raw-umber);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 5vh 5vw;
    margin: auto;
    :nth-child(3){
        font-size: 18px;
    }
}

.result.show{
    opacity: 1;
}

.winner-marker-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.winner-marker{
    width: 15vh;
    height: 15vh;
}

.winner-marker{
    stroke: var(--raw-umber);
}

/*When there is a tie show markers with different colors*/
.winner-marker:nth-child(2){
    stroke: var(--linen);
}

/*hide dummy markers*/
.dummy{
    display: none;
}

/*Change mouse on clickable elements*/
.control:hover{
    cursor: pointer;
}

/*Footer with link to github profile*/
.footer{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1vh 10vw;
    gap: 15px;
    color: var(--linen);
    font-size: 24px;
}

.icon{
    width: 30px;
    height: 30px;
}

a{
    text-decoration: none;
    color: var(--linen);
}