body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--coffee);
    width: 100vw;
    height: 100vh;
}

.board{
    width: 30vw;
    height: 30vw;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 2vw;
    background-color: var(--tan);
    padding: 2vw;
    border-radius: 5%;
}

.cell{
    background-color: var(--dun);
    display: flex;
    border-radius: 5%;
}

.marker{
    display: none;
    width: 60%;
    height: 60%;
    margin: auto;
}

.cross .solid{
    stroke-dasharray: 85; /*Approximate length of each line*/
    stroke-dashoffset: 85;
    transition: stroke-dashoffset 0.3s ease-out;
}

.circle .solid{
    stroke-dasharray: 252; /*Approximate length of each line*/
    stroke-dashoffset: 252;
    transition: stroke-dashoffset 0.6s ease-out;
}

.marker.over{
    display: inline-block;
}

.marker.over .transparent{
    stroke: var(--chamoisee);
}

.marker.clicked{
    display: inline-block;
}

.marker.clicked .transparent{
    stroke: none;
}

.marker.clicked .solid{
    stroke-dashoffset: 0;
    stroke: var(--raw-umber);
}

.solid.line2{ 
    transition-delay: 0.3s; 
}